Repository esbmc/esbmc, pull requests merged in 2025-08, with the labels that each got.

#2655 [multi-property] Verify properties individually using claim.cstr
  regression/esbmc-cpp/cpp/multi-property/main.cpp
  regression/esbmc-cpp/cpp/multi-property/test.desc
  src/esbmc/bmc.cpp
Labels: enhancement

#2666 [python] Support subtyping in isinstance() checks
  regression/python/is-instance/main.py
  src/python-frontend/function_call_expr.cpp
  src/python-frontend/python_converter.cpp
  src/util/base_type.cpp
  src/util/base_type.h
Labels: python

#2668 [c++] Remove unnecessary T() calls for non-default-constructible types
  regression/esbmc-cpp/cpp/github_2271/main.cpp
  regression/esbmc-cpp/cpp/github_2271/test.desc
  src/cpp/library/vector
Labels: C++

#2674 [python] Handling hasttr()
  regression/python/has-attr/main.py
  regression/python/has-attr/test.desc
  src/python-frontend/function_call_expr.cpp
  src/python-frontend/function_call_expr.h
Labels: python

#2681 [c++] fix stringstream compilation errors
  regression/esbmc-cpp/stream/sstream_str_int/test.desc
  regression/esbmc-cpp/stream/sstream_str_short/test.desc
  src/cpp/library/sstream
Labels: C++

#2692 [c++] optimize map::find() for faster verification
  src/cpp/library/map
Labels: C++

#2694 [python] fix nested range-based for loop variable conflicts in preprocessor
  regression/python/range18/test.desc
  regression/python/range18_fail/main.py
  regression/python/range18_fail/test.desc
  src/python-frontend/preprocessor.py
Labels: python

#2704 [python] Add floor/ceil Operational Models and Regression Tests
  regression/python/floor_ceil1/main.py
  regression/python/floor_ceil1/test.desc
  regression/python/floor_ceil1_fail/main.py
  regression/python/floor_ceil1_fail/test.desc
  regression/python/floor_ceil2/main.py
  regression/python/floor_ceil2/test.desc
  regression/python/floor_ceil2_fail/main.py
  regression/python/floor_ceil2_fail/test.desc
  regression/python/floor_ceil3/main.py
  regression/python/floor_ceil3/test.desc
  regression/python/floor_ceil3_fail/main.py
  regression/python/floor_ceil3_fail/test.desc
  regression/python/floor_ceil4/main.py
  regression/python/floor_ceil4/test.desc
  regression/python/floor_ceil5/main.py
  regression/python/floor_ceil5/test.desc
  regression/python/floor_ceil6/main.py
  regression/python/floor_ceil6/test.desc
  regression/python/floor_ceil_nan_fail/main.py
  regression/python/floor_ceil_nan_fail/test.desc
  src/python-frontend/function_call_expr.cpp
  src/python-frontend/models/math.py
Labels: python

#2705 [python] Subscript Type Inference & Regression Tests
  regression/python/problem4/main.py
  regression/python/problem4/test.desc
  regression/python/problem4_fail/main.py
  regression/python/problem4_fail/test.desc
  src/python-frontend/python_annotation.h
Labels: python

#2708 [python] Validation of range() in For-Loops
  regression/python/range2-fail/test.desc
  regression/python/range20_fail/main.py
  regression/python/range20_fail/test.desc
  regression/python/range21_fail/main.py
  regression/python/range21_fail/test.desc
  regression/python/range22_fail/main.py
  regression/python/range22_fail/test.desc
  regression/python/range23_fail/main.py
  regression/python/range23_fail/test.desc
  src/python-frontend/preprocessor.py
  src/python-frontend/python_converter.cpp
  src/python-frontend/type_utils.h
Labels: python

#2711 Python list repetition
  regression/python/list-repetition/main.py
  regression/python/list-repetition/test.desc
  src/python-frontend/python_converter.cpp
  src/python-frontend/python_converter.h
  src/python-frontend/type_handler.cpp
Labels: python

#2712 [python] refactor visit assign and support more cases for multiple assignment
  regression/python/multiple-assignment3/main.py
  regression/python/multiple-assignment3/test.desc
  regression/python/multiple-assignment4/main.py
  regression/python/multiple-assignment4/test.desc
  regression/python/multiple-assignment5/main.py
  regression/python/multiple-assignment5/test.desc
  regression/python/multiple-assignment6/main.py
  regression/python/multiple-assignment6/test.desc
  regression/python/multiple-assignment7/main.py
  regression/python/multiple-assignment7/test.desc
  regression/python/multiple-assignment8/main.py
  regression/python/multiple-assignment8/test.desc
  src/python-frontend/preprocessor.py
Labels: python

#2723 [python] refactor string comparison
  regression/python/string22/main.py
  regression/python/string22/test.desc
  regression/python/string22_fail/main.py
  regression/python/string22_fail/test.desc
  src/python-frontend/python_converter.cpp
  src/python-frontend/python_converter.h
Labels: python

#2727 [python] add support for __name__ built-in variable
  regression/python/main-function/main.py
  regression/python/main-function/test.desc
  regression/python/main-function_fail/main.py
  regression/python/main-function_fail/test.desc
  regression/python/main-if-guard/main.py
  regression/python/main-if-guard/test.desc
  regression/python/main-if-guard_fail/main.py
  regression/python/main-if-guard_fail/test.desc
  regression/python/main-import/main.py
  regression/python/main-import/other.py
  regression/python/main-import/test.desc
  regression/python/main-import_fail/main.py
  regression/python/main-import_fail/test.desc
  src/python-frontend/python_converter.cpp
  src/python-frontend/python_converter.h
Labels: python

#2730 [python] add initial support for lambda expressions
  regression/python/lambda/main.py
  regression/python/lambda/test.desc
  regression/python/lambda2/main.py
  regression/python/lambda2/test.desc
  regression/python/lambda2_fail/main.py
  regression/python/lambda2_fail/test.desc
  regression/python/lambda3/main.py
  regression/python/lambda3/test.desc
  regression/python/lambda3_fail/main.py
  regression/python/lambda3_fail/test.desc
  regression/python/lambda4/main.py
  regression/python/lambda4/test.desc
  regression/python/lambda4_fail/main.py
  regression/python/lambda4_fail/test.desc
  regression/python/lambda5/main.py
  regression/python/lambda5/test.desc
  regression/python/lambda6_fail/main.py
  regression/python/lambda6_fail/test.desc
  regression/python/lambda7/main.py
  regression/python/lambda7/test.desc
  regression/python/lambda7_fail/main.py
  regression/python/lambda7_fail/test.desc
  regression/python/lambda_fail/main.py
  regression/python/lambda_fail/test.desc
  src/python-frontend/python_converter.cpp
  src/python-frontend/python_converter.h
Labels: python
